

.media{
  text-align: justify;

}
img{
  align:left;
  width:200px;
}

img .wrap{
  float: left;
}

#footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: $height-footer;
  background-color: darkgray;
  text-align: center;
  border-top: orange;
  .footer-block {
    margin: 20px 0;
  }

